<% provide(:title, 'Help') %>
<h1>帮助</h1>
<p>
  更多相关 Ruby on Rails 帮助，请莅临
  <a href="http://ruby-china.org">Ruby-china</a>.
  本示例教程教学文章：
  <a href="http://ruby-china.org/topics/3239">1000 小时学会 Rails 系列</a>.
</p>
